@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, 
  dracula --dark;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.mockup-browser {
  z-index: 5 !important;
}

.sidedrawer {
 text-align: left;
 background: transparent;
 border: none;
 padding: 5px;
 width: 100%;
 cursor: pointer;
 transition: background-color 0.2s ease;
 border-radius: 8px;
}

.sidedrawer:hover {
 background-color: rgba(0, 0, 0, 0.1); /* Light gray highlight */
}

@media (min-width: 1024px) {
    .collapse {
        width: var(--random-width) !important;
    }
}